div#delete-modal.modal.fade
  div.modal-dialog
    div.modal-content
      div.modal-header
        h4.modal-title Delete Email
        button.close(data-dismiss='modal')
          span &times;
      div.modal-body
        p.mb-0 Are you sure you want to delete this email?
      div.modal-footer
        button.btn.btn-secondary(data-dismiss='modal') Cancel
        button.btn.btn-danger(data-dismiss='modal') Delete
