script#email-template(type='text/x-handlebars-template')
  tr.header(data-id='{{id}}') //.table-info
    td {{mailto from.[0]}}
    td {{subject}}
    td {{timestamp createdAt}}
  tr.body.hidden(data-id='{{id}}')
    td(colspan='4').p-0
      header.p-1
        a(href='{{mailtolink from.[0] subject}}', target='_blank').btn.btn-secondary.btn-sm
          i.fa.fa-reply
          |  Reply

        div.btn-group.mx-1
          a(href='/{{id}}.html', target='_blank').view-toggle.btn.btn-secondary.btn-sm.hidden
            i.fa.fa-envelope
            |  View HTML
          a(href='/{{id}}.txt', target='_blank').view-toggle.btn.btn-secondary.btn-sm
            i.fa.fa-envelope-o
            |  View Plain Text
          a(href='/{{id}}.raw', target='_blank').view-toggle.btn.btn-secondary.btn-sm
            i.fa.fa-eye
            |  View Original

        button(data-toggle='modal', data-target='#delete-modal' data-id='{{id}}').btn.btn-danger.btn-sm.float-xs-right
          i.fa.fa-trash
          |  Delete

      iframe(sandbox='allow-popups allow-same-origin')
