script#email-template(type='text/x-handlebars-template')
  tr.header(data-id='{{id}}', role='button')
    td {{mailto from.[0]}}
    td {{subject}}
    td {{timestamp receivedDate}}
  tr.body.hidden(data-id='{{id}}')
    td.p-0(colspan='4')
      header.p-3
        a.btn.btn-outline-gray.btn-sm(href='{{mailtolink from.[0] subject}}', target='_blank')
          i.fa.fa-reply
          |  Reply

        div.btn-group.mx-3
          a.view-toggle.btn.btn-outline-gray.btn-sm.hidden(href='/{{id}}.html', target='_blank')
            i.fa.fa-envelope
            |  View HTML
          a.view-toggle.btn.btn-outline-gray.btn-sm(href='/{{id}}.txt', target='_blank')
            i.fa.fa-envelope-o
            |  View Plain Text
          a.view-toggle.btn.btn-outline-gray.btn-sm(href='/{{id}}.raw', target='_blank')
            i.fa.fa-eye
            |  View Original

        a#download.btn.btn-outline-gray.btn-sm(href='/{{id}}.html?download', target='_blank')
          i.fa.fa-download
          |  Download

        button.btn.btn-danger.btn-sm.pull-right(data-toggle='modal', data-target='#delete-modal' data-id='{{id}}')
          i.fa.fa-trash
          |  Delete

      iframe(sandbox='allow-popups allow-same-origin')
