version: "2"
services:
  app:
    image: node:latest
    command: "npm start"
    working_dir: /app
    links:
      - mail
      - db
    environment:
      - NODE_ENV=docker
    volumes:
      - .:/app
    ports:
      - "80:80"
  mail:
    image: node:latest
    command: "npm run mail-server"
    working_dir: /app
    links:
      - db
    environment:
      - NODE_ENV=docker
    volumes:
      - .:/app
    expose:
      - 25
    ports:
      - "25:25"
  db:
    image: rethinkdb:latest
    volumes:
      - ./db:/data
    expose:
      - 28015
    ports:
      - "8080:8080"
      - "28015:28015"
