extends layout

block content
  main(data-default=defaultAddress).container.my-2
    header#guest
      h1.display-3.float-md-left.mb-3.mr-3 #{title}

      form.input-group.float-md-right
        input.form-control.text-md-right#address(type='text', pattern="[a-z0-9!#$%&'*+/=?^_`{|}~.-]+", title='Valid email address', required, autofocus)
        span.input-group-addon @
        div.input-group-btn
          button.btn.btn-secondary.dropdown-toggle#domain(data-toggle='dropdown') #{domains[0]}
          div.dropdown-menu.dropdown-menu-right
            each domain in domains
              a.dropdown-item(href='#') #{domain}
          button.btn.btn-secondary.btn-success Go

    a(href='https://github.com/JoeBiellik/pleasenospam')
      img(style='position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;', src='https://aral.github.com/fork-me-on-github-retina-ribbons/right-grey@2x.png', alt='Fork me on GitHub')

    div.py-2.clearfix

    div.spinner
      div.bounce1
      div.bounce2
      div.bounce3

    div.alert.alert-danger.hidden
      h4.alert-heading Something has gone wrong!
      p.mb-0 Please check you entered a valid email address or try #[a(href='/').alert-link reloading the page]

    div.jumbotron.py-2.hidden
      button.btn.btn-outline-primary.mt-2.float-md-right Send me a test email
      h1 No emails yet!
      p.lead.mb-0 New emails will show up here in real-time

    table.table.hidden
      thead
        tr
          th From
          th Subject
          th
      tbody

  include elements/email.jade

  include modals/delete.jade

  script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js', integrity='sha256-1O3BtOwnPyyRzOszK6P+gqaRoXHV6JXj8HkjZmPYhCI=', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js', integrity='sha256-cPV18mnKeXm349/LJ+fcY51Ts2ygt+cWpZCzc3YzEus=', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/livestamp/1.1.2/livestamp.min.js', integrity='sha256-8r65KJgULBDiZhwDydfWrEkx3yyV/grGsGzaekobngI=', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js', integrity='sha256-/5pHDZh2fv1eZImyfiThtB5Ag4LqDjyittT7fLjdT/8=', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js', integrity='sha256-j+XrvkQ4jJ99Hj0pJKPr6k0RCgxDDSTs3PBqLrX2EMc=', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/favico.js/0.3.10/favico.min.js', integrity='sha256-i265HmNQ6FYdanwd4Tvt6Phby2Ht/9KOGQ3cromZq5Y=', crossorigin='anonymous')
  script(src='/main.js')
