doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title}

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,300')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.min.css', integrity='sha256-mIfhv/h3MLq3WSiSlduuZO3saRNzzuf1LK8w3z3l3JY=', crossorigin='anonymous')
    link(rel='stylesheet', href='https://use.fontawesome.com/73ba61b55c.css')
    link(rel='stylesheet', href='/main.css')

    block head

  body
    block content
