doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title}

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,300')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css', integrity='sha256-Hxqx6IXxPu7vvjrk+fvaGFkkFQBiMHP0giSWk3Dt8f0=', crossorigin='anonymous')

    block head

  body
    block content
